.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
}

.hamburger-menu {
  font-size: 25px;
  margin-right: 5px;
}

.navbar-toggler {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-info {
  align-self: center;
  justify-content: center;
}

.ftco-hireme {
  z-index: 2;
}

#projects-section ul {
  list-style: none;
  margin-top: 5px;
}

#projects-section li {
  border: 1px solid #999999;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}

.activeFilter {
  background-color: #999999;
  color: #000;
}
